.container {
  background-color: #bba177;
  padding: 10px;
  border: solid 1px #444;
}

.tz .tz-name {
  width:  15%;
  display: inline-block;
}

.tz .tz-time {
  width:  25%;
  display: inline-block;
}

.tz {
  color: #eee;
  padding: 5px;
  transition: transform .2s;
}

.tz:hover {
  background-color: #222;
  transform: scale(1.2);
  text-align: center;
}


.tz:hover {
  color: rgb(246, 246, 181);
  transform: scaleX(.9);
}

nav a img {
  width: 1%;
}

[data-temperature="not-cold-at-all"] {
  background-color: aquamarine;
}

[data-temperature="slightly-cold"] {
  background-color: aqua;
}

[data-temperature="moderately-cold"] {
  background-color: rgb(23, 89, 187);
}

[data-temperature="very-cold"] {
  background-color: rgb(2, 70, 216);
}

[data-temperature="extremely-cold"] {
  background-color: rgb(0, 4, 247);
}

[data-temperature="not-warm-at-all"] {
  background-color: rgb(207, 243, 75);
}

[data-temperature="slightly-warm"] {
  background-color: rgb(248, 209, 36);
}

[data-temperature="moderately-warm"] {
  background-color: rgb(240, 149, 29);
}

[data-temperature="very-warm"] {
  background-color: rgb(216, 70, 2);
}

[data-temperature="extremely-warm"] {
  background-color: rgb(247, 0, 0);
}

[data-temperature="extremely-hot"] {
  background-color: rgb(247, 0, 103);
}


body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  background-color: #F6F1EB;
}